# Minimal Unity ignores for embedded `virtual-labs`

# Unity generated folders
virtual-labs/Library/
virtual-labs/Temp/
virtual-labs/Logs/
virtual-labs/Obj/
virtual-labs/Build/
virtual-labs/UserSettings/

# Lock files
virtual-labs/Packages/packages-lock.json

# Long-path plugin content causing add failures on Windows
virtual-labs/Assets/Plugins/UltimateCleanGUIPack/**


