[submodule "submodules/virtual-labs"]
	path = submodules/virtual-labs
	url = git@github.com:praxilabs/virtual-labs.git
[submodule "virtual-labs"]
	path = virtual-labs
	url = git@github.com:praxilabs/virtual-labs.git
